body {
  color: #c3cfda;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

.portfolio-block .caption {
  width: 80%;
}

#single-page-icatch {
  background-color: #efefef;
  padding-top: 2rem;
}

#single-page-icatch h1 {
  color: #444;
}

#single-page-icatch li a {
  color: #737f8a;
}

#single-page-content {
  background-color: #efefef;
  color: #444;
  padding-bottom: 1rem;
}

#single-page-content h2 {
  color: #444;
  border-left: 7px solid #555;
  border-bottom: 1px solid #555;
  padding-left: 1rem;
  margin: 2rem 0;
}
